html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.todo_list {
  display: flex;
  background-color: #d8e6eb;

  align-items: flex-start;

  padding: 2vh 2vw;
  width: 100vw;
  height: 100vh;
}


.todo_item {
  display: flex;
  background-color: #bdc2c9;
  box-shadow:5px 5px 5px black;

  flex-direction: column;
  align-items: flex-start;

  margin: 1rem;


  width: 30rem;
  height: 15rem;
}
