html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-indent: 0;
  list-style-type: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.todo_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: minmax(200px, 400px);
  grid-auto-rows: minmax(300px, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;

  background-color: rgb(234, 242, 245);

  padding: 5rem 5rem;
  width: 100vw;
  height: 100vh;

  overflow-y: auto;
}

.todo_item {
  display: flex;
  background-color: rgb(223, 237, 238);
  box-shadow: 4px 4px 4px #6d8f94;

  flex-direction: column;
  align-items: flex-start;

  padding: 1rem;
  margin-bottom: 3rem;

  transition: box-shadow 0.35s ease-in-out;
}

.todo_item:hover {
  box-shadow: 9px 9px 9px #8da8ac;
  transition: box-shadow 0.35s ease-in-out;
}

.todo_item_title {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 2px solid;
}

.todo_item_description {
  font-size: 1.8rem;
  padding: 0rem 1rem;
}

input {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.color_select {
  width: 20rem;
  font-size: 1.6rem;
  border: 6px solid transparent;

  background-color: transparent;
}

.color_option {
}

.todo_done_button {
  margin-right: 2rem;
  margin-bottom: 1rem;
  float: right;
  width: 3rem;
  height: 3rem;
}

.todo_done_button.checked::before {
  content: "✓";
  font-size: 1.7rem;
  font-weight: bold;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
}

.page.page-active {
  visibility: visible;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(234, 242, 245);
}

#Willkommen {
  font-size: 9rem;
  position: relative;
  bottom: 7rem;
  color: #4e95a3;
}

.start_text {
  font-size: 1.8rem;
  margin: 1rem;
  color: #5bb1c2;
}

#enter_a_id {
  position: relative;
  left: 70px;
}

.input_btn {
  display: flex;
  flex-direction: row;
}

#list_id {
  width: 10rem;
  height: 3rem;
  border: 2px solid #5bb1c2;
}

#open_list_btn {
  width: 4rem;
  height: 3rem;
}
