.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(234, 242, 245);
}

.start_text {
  font-size: 1.8rem;
  color: #5bb1c2;
  position: relative;
  bottom: 50px;
}

.willkommen {
  font-size: 9rem;
  position: relative;
  bottom: 7rem;
  color: #4e95a3;
}

.enter_id {
  position: relative;
  left: 70px;
}

.input_btn {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 50px;
}

.open_list_btn {
  width: 8rem;
  height: 3rem;
  position: relative;
  left: 45px;
  bottom: 3px;
}

.new_list_btn {
  position: relative;
  top: 135px;
  right: 90px;
  width: 10rem;
  height: 7rem;
  background-color: #5bb1c2;
  border-radius: 15px;
  transition: box-shadow 0.35s ease-in-out;
}

.list_id {
  width: 10rem;
  height: 3rem;
  border: 2px solid #5bb1c2;
  position: relative;
  left: 47px;
  font-size: 2rem;
  font-weight: bold;
  background: transparent;
}

.new_list_btn:hover {
  box-shadow: 1px 1px 5px 4px #9aa4a6;
  transition: box-shadow 0.35s ease-in-out;
}
